exportPattern("^[^\\.]")

## base packages
import(methods)
import(lme4)
import(chron)
import(splancs)
import(adehabitatHR)
import(pgirmess)
import(sciplot)
import(maptools)
import(sp)
import(lme4)
import(languageR)
import(MASS)
import(Hmisc)
import(sqldf)
import(data.table)
import(RColorBrewer)
import (RCurl, RUnit, circular, knitr, markdown, ggmap, mapproj)
## other CRAN packages:


exportClasses(Individuals,RMIndex,MCIndex)

exportMethods(group.by, populations, summary.rmi, rmi.index, plot, mci.index, aov, TukeyHSD, kruskal.test, kruskalmc, pdi.index)

export(plot, abs.std.mean)


#S3 Methods
S3method(plot, RMIndex)
S3method(summary,MCIndex) 
#S3method(aov,MCIndex)
#S3method(TukeyHSD,MCIndex)
useDynLib(animalmove, nsreg)
